<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="zhongyi.erliao">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".AboutActivity">
        </activity>
        <activity android:name=".EditionActivity">
        </activity>
        <activity android:name=".DevelopActivity">
        </activity>
        <activity android:name=".CultureActivity">
        </activity>
        <activity android:name=".KnowActivity">
        </activity>
        <activity android:name=".WhatActivity">
        </activity>
        <activity android:name=".PointActivity">
        </activity>
        <activity android:name=".GoodActivity">
        </activity>
        <activity android:name=".neikeActivity">
        </activity>
        <activity android:name=".breathActivity">
        </activity>
        <activity android:name=".digestionActivity">
        </activity>
        <activity android:name=".circleActivity">
        </activity>
        <activity android:name=".nerveActivity">
        </activity>
        <activity android:name=".incretionActivity">
        </activity>
        <activity android:name=".urinationActivity">
        </activity>
        <activity android:name=".waikeActivity">
        </activity>
        <activity android:name=".organsActivity">
        </activity>
        <activity android:name=".gynaecologyActivity">
        </activity>
        <activity android:name=".skinActivity">
        </activity>
        <activity android:name=".precautionActivity">
        </activity>

    </application>

</manifest>